.button {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
}

.button {
    cursor: pointer;
}