input,
button {
    border: none;
    outline: none;
}

input {
    font-size: 1.25em;
    border-bottom: 2px solid rgb(172, 172, 172);
}

input::placeholder {
    opacity: 0.5;
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    
    width: 100%;
    min-height: 90%;
    margin-left: auto;
    padding: 5em;
    border-left: 1px solid rgb(179, 179, 179);
}

.form-submit {
    padding: 0.5em 2em;
    margin-top: 2em;
    background-color: transparent;
    color: #173b22;
    border: 1px solid #7cd898;
    border-radius: 0.5em;
    font-size: 1.25em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.form-submit:hover {
    cursor: pointer;
    color: #7cd898;
    background-color: #173b22;
    border: none;
}

.form-image {
    padding: 2em;
    width: 100%;
    border-left: 1px solid rgb(179, 179, 179);
}

.form-image > img {
    width: 100%;
}

.auth-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.form-tab-group {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.form-tab {
    display: flex;
    flex-wrap: wrap;
    padding: 0.3em 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #173b22;
    border: 1px solid #5cad74;
    cursor: pointer;
}

.form-tab:first-child {
    border-radius: 0.5em 0 0 0.5em;
}

.form-tab:last-child {
    border-radius: 0 0.5em 0.5em 0;
}

.form-tab.active {
    background-color: #173b22;
    border: 1px solid #173b22;
    color: #5cad74;
}

.form-header {
    padding: 1em 0;
}

.form-content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    min-height: 70vh;
    box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.3);
}

.left-panel {
    flex-basis: 60%;
    border-radius: 0.75em 0 0 0.75em;
    background-color: white;
}

.right-panel {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    border-radius: 0 0.75em 0.75em 0;
    background-color: white;
}