#select-team-member {
    border: none;
    padding: 0.3em 1em;
    border-radius: 3px;
    border-bottom: 1px solid #aaa;
    font-family: 'Roboto', sans-serif;
}

#select-team-member:focus {
    outline: none;
}