.event-details {
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: 2em 1.5em;
}

.event-details.show {
	animation: dropDown 200ms linear;
}

.event-details.hide {
	animation: dropUp 200ms linear;
}

.event-details__header {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 0 1em;

	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

.event-details__header p::after,
p::before {
	display: none;
}

.event-header__date-n-time {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	letter-spacing: 4px;
	font-weight: 300;
}

.event-header__title {
	color: #5a5a5a;
	font-size: 2.5em;
	line-height: 3rem;
	word-spacing: 10px;
	font-family: "Playfair Display", serif;
}

.event-header__date {
	color: rgba(0, 0, 0, 0.3);
	font-size: 1.5em;
}

.event-header__time {
	display: flex;
	gap: 0.5em;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 500;
}

.event-scrollable-section {
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: 1em 1em;
	color: #444444;

	overflow-y: auto;
	overflow-x: hidden;
}

.event-scrollable-section > p {
	flex-shrink: 0;
}

.event-description {
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.4rem;
	font-family: 'Roboto', sans-serif;
	word-spacing: 5px;
}

.event-description::before,
.event-description::after {
	content: "";
	display: block;
	position: relative;
	height: 1px;
	width: 100%;
	background-color: #777777;
}

.event-scrollable-section > p::before {
	top: -1em;
}

.event-scrollable-section > p::after {
	bottom: -1em;
}

.event-attendees {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}

.event-attendee {
	display: flex;
	gap: 1em;
	padding: 0.5em 0;
	color: #43628ba9;
}

.btn-grp {
	display: flex;
	justify-content: space-evenly;
	gap: 1em;
}

.edit-btn {
	gap: 1em;
}

@keyframes dropDown {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes dropUp {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-100%);
	}
}
