.search-results {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    padding: 1em 0;
    gap: 1em;
    overflow: auto;
}

.search-list {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    gap: 0.5em;
}