header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    background-color: #dfdfdf;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

a {
    text-decoration: none;
    color: black;
}

a.active {
    background-color: #999;
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

nav > a {
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    border: 1.75px solid #999;
    font-family: 'Montserrat', sans-serif;
}