header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    background-color: #dfdfdf;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.tab {
    padding: 0.2em 0.5em;
    border: 1.75px solid #999;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.tab:first-child {
    border-radius: 0.2em 0 0 0.2em;
}

.tab:last-child {
    border-radius: 0 0.2em 0.2em 0;
}

.tab.active {
    background-color: #999;
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.search-btn {
    padding: 0 0.15em;
    border-radius: 50%;
    color: gray;
    border: 1px solid gray;
}

.search-btn:hover {
    background-color: gray;
    color: #dfdfdf;
    cursor: pointer;
}