.teams-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	gap: 1em;

	/* min-height: 100vh; */
	padding: 3em 4em;
	background-color: rgba(238, 238, 238, 0.74);
}
