.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.list-item:hover {
    cursor: pointer;
    background-color: #eee;
}

.list-item__name {
    display: flex;
    align-items: center;
    gap: 2em;
}